<h2>About TODOR</h2>

<div class="about">

	<div class="subtitle">
		<p>This is a subtitle</p>
	</div>

	<div class="hero">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab eveniet, fuga aperiam quod quaerat rem eos veritatis tenetur eligendi quos saepe magnam consequatur corporis, earum necessitatibus! Neque, mollitia, vero.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem praesentium cumque, possimus repellendus nobis id eaque, asperiores velit, obcaecati voluptates mollitia! Quae quaerat, error reiciendis impedit fugiat, doloribus porro natus.
		</p>
	</div>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab eveniet, fuga aperiam quod quaerat rem eos veritatis tenetur eligendi quos saepe magnam consequatur corporis, earum necessitatibus! Neque, mollitia, vero.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem praesentium cumque, possimus repellendus nobis id eaque, asperiores velit, obcaecati voluptates mollitia! Quae quaerat, error reiciendis impedit fugiat, doloribus porro natus.
	</p>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab eveniet, fuga aperiam quod quaerat rem eos veritatis tenetur eligendi quos saepe magnam consequatur corporis, earum necessitatibus! Neque, mollitia, vero.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem praesentium cumque, possimus repellendus nobis id eaque, asperiores velit, obcaecati voluptates mollitia! Quae quaerat, error reiciendis impedit fugiat, doloribus porro natus.
	</p>
</div>
