@import url(http://fonts.googleapis.com/css?family=Raleway:500);

html {
  background: url('http://fc05.deviantart.net/fs70/i/2010/059/2/6/Green_Grass_Texture_01_by_goodtextures.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Raleway;
}

body {
  background: rgba(225, 225, 225, 0.1);
}


.container {
  max-width: 960px;
  margin: auto;
  background: rgba(225, 225, 225, 0.5);
}

.field, .bet, .sweep2, .sweep5 {
  float: left;
}

.sweep2, .sweep5 {
  padding: 0 1em;
}

.field li {
  min-height: 21px;
}

.active {
  text-shadow: 0 0 10px #0ff;
  text-decoration: underline;
  font-weight: bold;
}