<html>
<head> 
<title>Last trade</title>
<link rel="stylesheet" href="/stock.css">
</head>
<body>
<h1> LAST TRADE </h1>
<%= yield %> 
<p>
	This trade is currently on ...  $<%= @price %>
</p>
</body>
</html>