li {
	list-style-type: none;
}

img {
	max-width:200px;
	max-height:400px;
	border-radius: 100%;
}
html {
	padding: 0;
	margin: 0;
	font-family: Arial;
}

#container {
	max-width: 960px;
	margin: auto;
	background-color: #3399ff;
	opacity: 0.5;
}

/*ul {
	list-style-type: none;
}*/

nav li {
	list-style: none;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	padding: 10px;
}

img.thumbnail {
	max-width: 10em;
	border-radius:100px ;
}

label {
	min-width: 80px;
	display: inline-block;
}

h1 {
	padding: 10px;
}

a {
	color: black;
	text-align: left;
}

a:hover {
	color: grey;
}

img {
	max-width: 40em;

}